body{
/* background:#1daa15; */
background-image: url("https://images.unsplash.com/photo-1644224076179-31d622e21511?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60");
background-position: center;
/* background-repeat: no-repeat; */
background-size: inherit;
}


/* 
https://images.unsplash.com/photo-1634848860108-6d8368f5a0b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80 */